@media (max-width: 990px){
    .home{
        padding-top: 0;
    }

    .container{
        margin: 0 auto;
        width: 90%;
    }

    .courses-overlay{
        top: 60%;
        height: 40%;
    }

    .courses-box:hover .courses-overlay{
        top: 60%;
        transition: none;
    }
}

@media (max-width: 892px){
    section{
        padding: 2rem 0;
    }

    .nav{
        padding: 12px 0;
    }

    .heading{
        font-size: 4rem;
    }

    .courses-box{
        height: 257px;
    }

    .courses-overlay h2{
        font-size: 1.3rem;
    }
}

@media (max-width: 775px){
    .logo{
        font-size: 1.1rem;
    }

    .home-text h3{
        font-size: 1rem;
    }

    .home-text h2{
        font-size: 3rem;
        line-height: 3.8rem;
    }

    .home-text p{
        font-size: .9rem;
    }

    .about-text p{
        font-size: .9rem;
        margin-bottom: 1rem;
    }

    .education-box .bx{
        font-size: 2.5rem;
    }

    .education-text h2{
        font-size: 1.3rem;
    }

    .education-text span{
        font-size: .9rem;
    }

    .courses-box{
        height: 240px;
    }

    .courses-overlay h2{
        font-size: 1rem;
    }

    .courses-overlay .bx{
        font-size: 20px;
    }

    .hobby-icon .bx{
        font-size: 10rem;
    }

    .hobby-text p{
        font-size: .9rem;
    }
    
    .hobby-text h2{
        font-size: 1.3rem;
    }
    
    .hobby-text ul li{
        font-size: .9rem;
    }

    .menu-icon{
        display: flex;
    }

    .navbar{
        position: absolute;
        top: 0;
        right: -100%;
        width: 300px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 20px;
        background: var(--box-color);
        transition: .5s all cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .open-menu{
        right: 0;
        transition: .5s right cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .nav-link{
        display: block;
        margin: 1rem 0;
    }
}

@media (max-width: 635px){
    .about-text p{
        text-align: left;
    }

    .hobby-content{
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }

    .hobby-text p, .hobby-text h2{
        text-align: center;
    }

    .hobby-text ul li{
        text-align: center;
    }

}

@media (max-width: 576px){
    .courses-content{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 450px){
    .navbar{
        width: 100%;
    }

    .heading{
        font-size: 3rem;
    }
    .about-content{
        grid-template-columns: repeat(1, 1fr);
    }

    .about-data{
        order: 2;
    }

    .education-text h2{
        font-size: 1.1rem;
    }

    .education-text span{
        font-size: .85rem;
    }
}